<footer class="footer mt-5">
        <div class="footer-row">
            <div class="footer-col">
                <img src="./img/logo.png" alt="Logo" class="footer-logo">
                <p class="footer-text"></p>
            </div>
            <div class="footer-col">
                <h3 class="footer-title">Contactez-nous</h3>
                <p class="pbody"><i class="fa-brands fa-whatsapp"></i> <a href="https://wa.me/33745103736"
                        target="_blank" class="text-decoration-none text-reset">+33 7 45 10 37 36</a></p>
                <p class="pbody"><i class="fas fa-envelope"></i><a href="mailto:support@transportconcept.fr"
                        class="text-decoration-none text-reset"> support@transportconcept.fr</a></p>
                </p>
                <p class="pbody"><i class="fas fa-map-marker-alt"></i><a
                        href="https://www.google.com/maps?q=19+rue+Unna,+91120+Palaiseau" target="_blank"
                        class="text-decoration-none text-reset"> 19 rue Unna, 91120 Palaiseau</a></p>
            </div>
        </div>
        <hr style="width: 100%; border: none; border-top: 1px dashed #ccc; margin-top: 30px;">
        <div class="footer">
            <p class="footer-copyright">Copyright 2023 | TRANSPORT CONCEPT - All rights reserved.</p>
        </div>
    </footer>