<header>
        <div class="container">
            <svg viewBox="0 0 550 550" preserveAspectRatio="xMinYMin meet">
                <path d="M0,50 C0,180 320,10 500,100 L300,60 L0,0 Z" style="stroke: none; fill:#FDAD00;"></path>
            </svg>
            <svg viewBox="0 5 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,30 C0,150 350,0 500,100 L500,0 L0,0 Z" style="stroke: none; fill:rgb(0, 0, 0);"></path>
            </svg>
        </div>
        <div class="navbar">
            <img src="./img/logo.png" alt="Logo" class="logo">
        
        <div class="icon">
            <div class="icon-container">
                <a href="https://wa.me/33745103736" target="_blank" class="text-reset">
                    <i class="fa fa-phone"></i>
                </a>
                <a href="mailto:support@transportconcept.fr" target="_blank" class="text-reset p-2">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
        </div>
    </header>